.project-page{
    width: 100%;
   
    position: relative;

    background-color: var(--home_bg);
    display: flex;
    flex-direction: column;
    align-items: center;

}
.project-page .domaines{

    position: fixed;
    display: flex;
    top: 10%;
    justify-content: space-around;
    align-items: center;
    color: azure;
    font-size: 8px;
    flex-wrap: wrap;
    width: 80%;
    z-index: 2;

}
.project-page .domaine{
    display: flex;
   background-color: black;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(255, 217, 0);
    border-radius: 10px;
    padding:0px 20px 0px 20px;
    font-family:inika_reg;
   
}
.project-page .big-title{
    color: azure;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-page .big-title h1{

    font-size: 35px;
text-align: center;
color: var(--home_title_color);
font-family: inika_bold;
}
.all-project {
    height: 80%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
     flex-wrap: wrap;
    
  }
  .all-project .project{
      background-color: var(--competence_bg_color);
     width: 50%;
      display: flex;
     margin-bottom: 10px;
     align-items: center;
     justify-content: center;
  
  
  }
  .all-project .information{
    background-color: var(--competence_bg_color);
   width: 80%;
    display: flex;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;


}
.all-project .image{
    width: 90%;
    height:500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
   background-color: var(--competence_progress_color);


}
.all-project .title h1{
    font-size: 22px;
    text-align: center;
    color: var(--competence_title_color);
    font-family: inika_bold;
    
}
.all-project .description{
   display: flex;
   width: 80%;
   height: 200px;
   justify-content: center;
    align-items: center;


}
.all-project .description p{
    margin-left: 5%;
    font-size: 18px;
    text-align: center;
    color:  var(--competence_description_color);
    font-family: inika_reg;
}


@media screen and (max-width: 1100px) {
   
}

@media screen and (max-width:750px) {
    .project-page .big-title{

  
      height: 100px;
   
  }
  .project-page .big-title h1{
  
      font-size: 25px;
 
  }
  .project-page .domaines{
    position: static;
    top: 0%;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    font-size: 5px;
    flex-wrap: wrap;
    width: 100%;

}
.project-page .domaine{
   
    border: 1px solid rgb(255, 217, 0);
    border-radius: 10px;
    padding:0px 5px 0px 5px;

    margin: 5px 5px 0px 5px ;
}
  .all-competence .title{
      width: 90px;
      height: 90px;
   
    
   
  }
  .all-project .project{
    width: 100%;
    flex-direction: column;
    margin-bottom: 20px;
  
   
  }
  .all-project .title h1{
      font-size: 16px;
   
      
  }
  .all-project  .description{
  
      width: 90%;
      height:100%;
   
   
   }
   .all-project  .description p{

      font-size: 14px;
   
 
  }
  .all-project .image{
    width: 90%;
    height:250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
   background-color: var(--competence_progress_color);


}
}


@media screen and (max-width:450px) {

}