:root {
  
    margin: auto; 
    --navbar_color:#000000;
    --navbar_mobile_color:rgb(17, 16, 18);
    --navbar_mobile_ul: rgb(17, 16, 18);
    --navbar_mobile_click:#ffffff;
    --mather-color:rgb(17, 16, 18);
    --navbar_item_color:rgb(202, 178, 148);
    --navbar_item_color_clicked:rgb(223, 154, 70);
    --navbar_item_color_mobile:rgb(202, 178, 148);


    --home_bg:rgb(17, 16, 18);
    --home_title_color:rgb(202, 178, 148);
    --home_text_color:rgb(202, 178, 148);

    --competence_title_color:rgb(245, 150, 33);
    --competence_description_color:rgb(202, 178, 148);
    --competence_bg_color:rgb(22, 22, 22);
    --competence_title_bg_color:rgb(22, 13, 1);
    --competence_progress_color:#eaa34c;

   }
   @font-face {
       font-family: inika_bold;
       src: url('../public/static/fonts/Inika-Bold.ttf');
         }
   @font-face {
   font-family: inika_reg;
   src: url('../public/static/fonts/Inika-Regular.ttf');
       }